.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 20px;
}

.tarjeta-juego {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-juego {
	width: 100%;
	border-radius: 0px;
}

.icono-footer {
	padding-right: 5px;
}

.icono-boton {
	margin-right: 10px;
}